
streamlit 
google-generativeai 
python-dotenv 
langchain 
PyPDF2 
faiss-cpu 
langchain_google_genai 
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client 
langchain-ollama 
google-search-results 
pytz 
groq 
langchain-google-community
langchain-groq
langgraph